.s-clients {
  background: url(../images/u-clients-bg.jpg) center bottom / 100% auto no-repeat;
  .container {
    min-height: 0;
  }
  &__inner {
    display: flex;
    flex-direction: column;
  }
  &__suptitle {
    margin: 116rem 0 -12rem;
    font-size: 45rem;
    font-family: $ffBaskervilleDisplayPTWeb;
    color: #8D8D8D;
    letter-spacing: -.05em;
    text-align: center;
    text-transform: uppercase;
  }
  &__slider {
    max-width: 782rem;
    .u-slider__el {
      margin: 0 -30rem;
    }
    .swiper-button {
      top: 404rem;
    }
  }
  &__footer {
    margin: 0 0 240rem;
    padding-top: 70rem;
    line-height: 1.2;
    &-appeal {
      background: $whiteColor;
      margin: 0 0 54rem;
      padding: 8rem 52rem;
      font-size: 29rem;
      color: #8D8D8D;
      text-align: center;
      box-shadow: 0 2px 8px rgba(0,0,0,.4);
    }
    &-title {
      margin: 0;
      font-size: 36rem;
      font-weight: bold;
      color: $whiteColor;
      text-align: center;
    }
  }
}