.s-help {
  background: $blackColor;
  color: $whiteColor;
  position: relative;
  z-index: 0;
  .container {
    min-height: 0;
  }
  &__video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    > * {
      width: 100%;
      min-width: 100%;
      height: 100%;
      min-height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      z-index: -1;
    }
  }
  &__inner {
    display: flex;
    min-height: 0;
    flex-direction: column;
    position: relative;
    z-index: 1;
  }
  &__center {
    width: 100%;
    max-width: 500rem;
    height: 100%;
    margin: 0 auto;
    padding: 48rem 0 76rem;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  &__header {
    margin-bottom: auto;
    &-suptitle {
      margin: 0 0 -6rem;
      font-weight: bold;
      font-size: 33rem;
      font-family: $ffNeueMontreal;
      text-transform: uppercase;
      letter-spacing: 0.305em;
    }
    &-title {
      margin: 0;
      font-weight: normal;
      font-size: 68rem;
      font-family: $ffMoonTime;
      color: #5CB6F9;
    }
  }
  &__body {
    padding: 0 0 126rem;
    &-decor {
      pointer-events: none;
      user-select: none;
      &--1 {
        width: 58rem;
        margin: 20rem -180rem 88rem auto;
      }
      &--2 {
        width: 128rem;
        margin: 0 auto 34rem;
      }
      img {
        width: 100%;
        height: auto;
        display: block;
      }
    }
    &-title {
      margin: 0 0 -8rem;
      font-weight: normal;
      font-size: 226rem;
      font-family: $ffAnton;
      text-transform: uppercase;
      letter-spacing: .026em;
    }
    &-text {
      max-width: 81%;
      margin: 0 auto 15rem;
      font-weight: normal;
      font-size: 23rem;
      text-align: left;
      position: relative;
      left: -9rem;
    }
    &-btn {
    }
  }
  &__footer {
    margin: auto 0 0;
    font-weight: normal;
    font-size: 15rem;
    font-family: $ffNeueMontreal;
    text-transform: uppercase;
    letter-spacing: .305em;
    &-picture {
      width: 378rem;
      margin: 0 auto 104rem;
      pointer-events: none;
      position: relative;
      left: -22rem;
      img {
        width: 100%;
        height: auto;
        display: block;
      }
    }
    &-nav {
      margin: 0 0 43rem;
      padding: 0;
      list-style-type: none;
      li {
        margin: 0;
        padding: 0;
        &:not(:last-child) {
          margin-bottom: 3rem;
        }
      }
    }
    &-copyright {
      margin: 0;
    }
  }
}