@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.woff2') format('woff2'),
       url('../fonts/Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Bold.woff2') format('woff2'),
       url('../fonts/Montserrat-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MoonTime';
  src: url('../fonts/MoonTime-Regular.woff2') format('woff2'),
       url('../fonts/MoonTime-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sarpanch';
  src: url('../fonts/Sarpanch-Regular.woff2') format('woff2'),
       url('../fonts/Sarpanch-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Stinger Wide';
  src: url('../fonts/StingerWide-Regular.woff2') format('woff2'),
       url('../fonts/StingerWide-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Optima';
  src: url('../fonts/Optima-Bold.woff2') format('woff2'),
    url('../fonts/Optima-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GoodTime Grotesk';
  src: url('../fonts/MADEGoodTimeGrotesk.woff2') format('woff2'),
       url('../fonts/MADEGoodTimeGrotesk.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mr Dafoe';
  src: url('../fonts/MrDafoe-Regular.woff2') format('woff2'),
       url('../fonts/MrDafoe-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Baskerville Display PT Web';
  src: url('../fonts/BaskervilleDisplayPTWeb-Regular.woff2') format('woff2'),
       url('../fonts/BaskervilleDisplayPTWeb-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Anton';
  src: url('../fonts/Anton-Regular.woff2') format('woff2'),
       url('../fonts/Anton-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Greenth Outline';
  src: url('../fonts/GreenthOutline.woff2') format('woff2'),
       url('../fonts/GreenthOutline.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('../fonts/NeueMontreal-Bold.woff2') format('woff2'),
    url('../fonts/NeueMontreal-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Heading Now Trial 15';
  src: url('../fonts/HeadingNowTrial-15Medium.woff2') format('woff2'),
       url('../fonts/HeadingNowTrial-15Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Model';
  src: url('../fonts/Model4FUnicase.woff2') format('woff2'),
       url('../fonts/Model4FUnicase.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
       url('../fonts/PlayfairDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Anonymous Pro';
  src: url('../fonts/AnonymousPro-Regular.woff2') format('woff2'),
       url('../fonts/AnonymousPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Coco Gothic';
  src: url('../fonts/CocoGothic-Regular.woff2') format('woff2'),
       url('../fonts/CocoGothic-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}